In [3]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')
sns.set_palette('colorblind')

In [5]:
df = pd.read_csv('data/COVID-19_Outcomes_by_Testing_Cohorts__Cases__Hospitalizations__and_Deaths.csv')
df.head()

,extract_date,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,04/29/2020,04/17/2020,9979,3386,527,96
1,04/29/2020,02/08/2020,1,0,0,0
2,04/29/2020,03/05/2020,63,5,3,1
3,04/29/2020,04/09/2020,9019,4803,1253,386
4,04/29/2020,04/03/2020,9389,5523,1688,582

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176148 entries, 0 to 176147
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   extract_date         176148 non-null  object
 1   specimen_date        176148 non-null  object
 2   Number_tested        176148 non-null  int64
 3   Number_confirmed     176148 non-null  int64
 4   Number_hospitalized  176148 non-null  int64
 5   Number_deaths        176148 non-null  int64
dtypes: int64(4), object(2)
memory usage: 8.1+ MB

In [5]:
df.describe()

       Number_tested  Number_confirmed  Number_hospitalized  Number_deaths
count  176148.000000     176148.000000        176148.000000  176148.000000
mean    11141.475714       1427.914680           234.946375      73.940686
std      6413.050113       1368.222368           392.006729     160.110002
min         1.000000          0.000000             0.000000       0.000000
25%      6738.000000        371.000000            38.000000       4.000000
50%     10885.000000       1135.000000           115.000000      21.000000
75%     16448.000000       1960.000000           199.000000      44.000000
max     24727.000000       6852.000000          2016.000000     923.000000

In [8]:
valid = df[df['Number_tested'] > 1]

In [9]:
valid['specimen_date'] = pd.to_datetime(valid['specimen_date'])

/tmp/ipykernel_4140/2117046692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid['specimen_date'] = pd.to_datetime(valid['specimen_date'])

In [14]:
good_dates = valid[valid['specimen_date'] >= '1/1/2020']

In [15]:
good_dates = valid[valid['specimen_date'] <= '10/12/2021']

In [16]:
good_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170140 entries, 0 to 176147
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   extract_date         170140 non-null  object
 1   specimen_date        170140 non-null  datetime64[ns]
 2   Number_tested        170140 non-null  int64
 3   Number_confirmed     170140 non-null  int64
 4   Number_hospitalized  170140 non-null  int64
 5   Number_deaths        170140 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 9.1+ MB

In [17]:
good_dates.head()

,extract_date,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,04/29/2020,2020-04-17,9979,3386,527,96
2,04/29/2020,2020-03-05,63,5,3,1
3,04/29/2020,2020-04-09,9019,4803,1253,386
4,04/29/2020,2020-04-03,9389,5523,1688,582
5,04/29/2020,2020-03-25,7457,4803,1395,429

In [19]:
good_dates.describe()

       Number_tested  Number_confirmed  Number_hospitalized  Number_deaths
count  170140.000000     170140.000000        170140.000000  170140.000000
mean    11534.869261       1478.331321           243.238010      76.550829
std      6167.830406       1365.142438           396.333149     162.298195
min         2.000000          0.000000             0.000000       0.000000
25%      7114.000000        434.000000            45.000000       5.000000
50%     11246.000000       1194.000000           120.000000      22.000000
75%     16569.000000       2025.000000           205.000000      45.000000
max     24727.000000       6852.000000          2016.000000     923.000000

In [20]:
high = good_dates[good_dates['Number_tested'] >= 10_000]

In [21]:
high.head()

,extract_date,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
13,04/29/2020,2020-04-07,10406,5806,1532,517
35,04/29/2020,2020-04-22,11090,3227,305,38
54,04/29/2020,2020-04-06,10777,6160,1734,581
65,04/29/2020,2020-04-20,11284,3564,407,67
77,04/30/2020,2020-04-22,11158,3275,317,45

In [22]:
high.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95018 entries, 13 to 176147
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   extract_date         95018 non-null  object
 1   specimen_date        95018 non-null  datetime64[ns]
 2   Number_tested        95018 non-null  int64
 3   Number_confirmed     95018 non-null  int64
 4   Number_hospitalized  95018 non-null  int64
 5   Number_deaths        95018 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 5.1+ MB

In [23]:
high.describe()

       Number_tested  Number_confirmed  Number_hospitalized  Number_deaths
count   95018.000000      95018.000000         95018.000000   95018.000000
mean    16128.859869       1627.386727           178.996001      46.624134
std      3428.756616       1059.217077           236.247396     103.760232
min     10000.000000         43.000000             0.000000       0.000000
25%     13509.000000        941.000000            84.000000      11.000000
50%     16207.000000       1481.000000           139.000000      26.000000
75%     18836.000000       2085.000000           196.000000      42.000000
max     24727.000000       6852.000000          1990.000000     923.000000

In [24]:
low = good_dates[good_dates['Number_tested'] <= 10_000]

In [25]:
low.head()

,extract_date,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,04/29/2020,2020-04-17,9979,3386,527,96
2,04/29/2020,2020-03-05,63,5,3,1
3,04/29/2020,2020-04-09,9019,4803,1253,386
4,04/29/2020,2020-04-03,9389,5523,1688,582
5,04/29/2020,2020-03-25,7457,4803,1395,429

In [26]:
low.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75127 entries, 0 to 176145
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   extract_date         75127 non-null  object
 1   specimen_date        75127 non-null  datetime64[ns]
 2   Number_tested        75127 non-null  int64
 3   Number_confirmed     75127 non-null  int64
 4   Number_hospitalized  75127 non-null  int64
 5   Number_deaths        75127 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 4.0+ MB

In [27]:
low.describe()

       Number_tested  Number_confirmed  Number_hospitalized  Number_deaths
count   75127.000000      75127.000000         75127.000000   75127.000000
mean     5724.448587       1289.900182           324.505477     114.405953
std      3291.097568       1654.711794           522.810526     208.499506
min         2.000000          0.000000             0.000000       0.000000
25%      4041.000000        117.000000            17.000000       1.000000
50%      6730.000000        623.000000            75.000000      14.000000
75%      8283.000000       1610.000000           296.000000      82.000000
max     10000.000000       6369.000000          2016.000000     866.000000